html, body {
height: 100%;
margin: 0;
padding: 0;
background-color: #f0f6f7;
}

/* line designs that have been added through the webpage */

.gap, .divider1, .divider2, .divider3,
 .divider4, .divider5, .line, .line2, .line5, .plotline,
.keyline, .castline, .ctline, .reviewsline {
    position: absolute;
    background-color: #6d7500;
}


.borderweb {
    font-family: 'Clash Display', sans-serif;
}

.logo {
    padding: 10px;
    font-weight: 700;
    text-align: left;
}


.nav2 {
    position: absolute;
    margin-left: 990px;
    margin-top: -48px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 115px;
    background-color:#89aec8;
    border: 3px solid #0b0e29;
    border-radius: 5px;
    justify-content: flex-start;
    display: flex;
}

.nav2:hover {
    background-color:#757761;
    color: #4e4452;
    border: 3px solid;

}

.gap {
    position: absolute;
    right: 275px;
    top: 45px;
    width: 2px;
    height: 50px;
    background-color: #6d7500;
}

/* The languages buttons that include the short forms of English, Spanish, and Urdu */

.language {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 215px;
    top: 48px;
    background-color: #f0f6f7;
    border-style: solid;
    border: 2px solid #6d7500;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* The title and subheading */

.sev {
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 200px;
    color: #002c55;
    top: 250px;
    left: 10px;
}

.appletv {
    position: relative;
    font-weight: 500;
    display: block;
    font-size: 100px;
    color: #0b0e39;
    left: 40px;
    bottom: 45px;
}

.line {
    width: 1380px;
    height: 2px;
    top: 560px;
    left: 37px;
}

.jumpto {
    position: relative;
    font-weight: 300;
    top: 270px;
    left: 30px;
    color: #6d7500;
    font-size: 50px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
}

.divider1 {
    width: 2px;
    height: 350px;
    top: 600px;
    left: 337px;
}

/* Design lines; their positions and sizes */
.divider2, .divider3, .divider4, .divider5 {
    width: 2px;
    background-color: #6d7500;
    position: absolute;
}
.divider2 {
    height: 140px;
    top: 600px;
    left: 700px;
}

.divider3 {
    height: 140px;
    top: 600px;
    left: 1070px;
}

.line2 {
    width: 1000px;
    height: 2px;
    top: 770px;
    left: 390px;
}

.divider4 {
    height: 140px;
    top: 805px;
    left: 700px;

}

.divider5 {
    height: 140px;
    top: 805px;
    left: 1070px;
}

.plot, .KeyInfo, .Cast, .CreativeTeam,
.Reviews, .AppleTvTag {
    position: absolute;
    font-size: 45px;
    color: #4e452a;
}


.plot {
    left: 560px;
    top: 690px;
}

/* Hover color of the Id anchors */
.plot:hover, .KeyInfo:hover, .Cast:hover,
.CreativeTeam:hover, .Reviews:hover, .AppleTvTag:hover {
    color: #89aec8;
}

.plotinfo p, .keydets p, .ctinfo p, 
.reviewsdets {
    position: absolute;
    font-weight: 300;
    font-size: 30px;
    padding: 10px;
    color: #002c55;
    text-align: right;

}


.KeyInfo {
    right: 430px;
    top: 635px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
}

.Cast {
    left: 1270px;
    top: 690px;
}

.CreativeTeam {
    left: 460px;
    top: 840px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;


}

.line5 {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    left: 40px;
    top: 980px;
}

.Reviews {
    right: 430px;
    top: 890px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
}

.AppleTvTag {
    left: 1170px;
    top: 890px;
}


.Plot {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}


.plotinfo p {
    display: block;
    top: 240px;
    width: 1000px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;

}


.plotline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 800px;
    left: -28px;

}

.Keyinfo {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 45px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
}

.keydets p {
    display: block;
    top: 380px;
    left: 280px;
    width: 1000px;
    justify-content: right;
    display: flex;
    align-items: right;
    flex-direction: column;

}

.keyline {

    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1680px;
    left: -28px;

}

.Casting {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.castline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1280px;
    left: -28px;
}

.Creativeteam {

    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.ctinfo p {
    width: 880px;
    top: 280px;
    left: 350px;
    justify-content: right;
    display: flex;
    align-items: right;
    padding: 20px;
}

.ctline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 780px;
    left: -28px;
}

.reviews {

    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.reviewsdets {
    width: 880px;
    top: 280px;
    left: 350px;
    justify-content: right;
    display: flex;
    align-items: right;
    padding: 20px;
}

.reviewsline{
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1740px;
    left: -28px;
}