html, body {
    overflow: hidden;
    background-color: #060608;
}

/* Overflow: hidden to stop spillage of overflowing content like the vinyl */


/* The poster on the top left */
.ltposter {
    position: fixed;
    width: 500px;
    height: 500px;
    z-index: 1;
}

.ltposter img {
    width: 100%;
    height: 100%;
    border: 5px solid #b82727;
}

/* The video that has been centered  */

.video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}



/* The spinning vinyl that has been added to the bottom right*/
.spinningvinyl {
    position: fixed;
    bottom: -220px;
    right: -160px;
    width: 800px;
    height: 800px;
    z-index: 2;
}

/* Z-index used to place the video in-front of the vinyl and poster */

.spinningvinyl img {
    width: 100%;
    height: auto;
    animation: spin 4s linear infinite;
}

/* This causes the vinyl to spin infiinitely at 4 seconds per rotation */

@keyframes spin {
    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }
}

/* The rotation code that allows the vinyl to spin the full 360 degrees */