html, body {
    font-family: 'Array', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #233326;
    margin: 0;
    color: #091C2A;
}

.Calculator {
    width: 450px;
    height: 450px;
    background-color: #F1E5B1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 20px solid #091C2A;
}
.Calculator h1 {
    text-align: center;
    padding: 40px;
}

.Calculation {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 7px;
    border: 3px solid #5B242A;
    font-size: 16px;
}

.button {
    background-color: #5B242A;
    width: 60px;
    height: 40px;
    padding: 5px;
    display: block;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin: 0 auto;


}

.res {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}
