html, body {
height: 100%;
margin: 0;
padding: 0;
background-color: #f0f6f7;

}



.borderweb {
    font-family: 'Clash Display', sans-serif;
}

.logo {
    padding: 10px;
    font-weight: 700;
    text-align: left;
}


.nav2 {
    position: absolute;
    margin-left: 990px;
    margin-top: -48px;
    font-weight: 700;
    text-align: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    width: 115px;
    background-color:#89aec8;
    border: 3px solid #0b0e29;
    border-radius: 5px;
    justify-content: flex-start;
    display: flex;
}

.nav2:hover {
    background-color:#757761;
    color: #4e4452;
    border: 3px solid;

}

.gap {
    position: absolute;
    right: 275px;
    top: 45px;
    width: 2px;
    height: 50px;
    background-color: #6d7500;
}

.language {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 215px;
    top: 48px;
    background-color: #f0f6f7;
    border-style: solid;
    border: 2px solid #6d7500;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.sev {
    position: relative;
    font-weight: 700;
    display: block;
    font-size: 200px;
    color: #002c55;
    top: 250px;
    left: 10px;
}

.appletv {
    position: relative;
    font-weight: 500;
    display: block;
    font-size: 100px;
    color: #0b0e39;
    left: 40px;
    bottom: 45px;
}

.line {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 560px;
    left: 37px;
}

.jumpto {
    position: relative;
    font-weight: 300;
    top: 270px;
    left: 30px;
    color: #6d7500;
    font-size: 50px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
}

.divider1 {
    position: absolute;
    width: 2px;
    height: 350px;
    background-color: #6d7500;
    top: 600px;
    left: 337px;
}

.divider2 {
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: #6d7500;
    top: 600px;
    left: 700px;
}

.divider3 {
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: #6d7500;
    top: 600px;
    left: 1070px;
}

.line2 {
    position: absolute;
    width: 1000px;
    height: 2px;
    background-color: #6d7500;
    top: 770px;
    left: 390px;
}

.divider4 {
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: #6d7500;
    top: 805px;
    left: 700px;

}

.divider5 {
    position: absolute;
    width: 2px;
    height: 140px;
    background-color: #6d7500;
    top: 805px;
    left: 1070px;
}

.plot {
    position: absolute;
    font-size: 45px;
    left: 560px;
    top: 690px;
    color: #4e452a;

}

.plot:hover {
    color: #89aec8;
}

.KeyInfo {
    position: absolute;
    font-size: 45px;
    right: 430px;
    top: 635px;
    color: #4e452a;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
}

.KeyInfo:hover {
    color: #89aec8;
}

.Cast {
    position: absolute;
    font-size: 45px;
    left: 1270px;
    top: 690px;
    color: #4e452a;

}

.Cast:hover {
    color: #89aec8;
}

.CreativeTeam {
    position: absolute;
    font-size: 45px;
    left: 460px;
    top: 840px;
    color: #4e452a;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;


}

.CreativeTeam:hover {
    color: #89aec8;
}

.line5 {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    left: 40px;
    top: 980px;
}

.Reviews {
    position: absolute;
    font-size: 45px;
    right: 430px;
    top: 890px;
    color: #4e452a;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
}

.Reviews:hover {
    color: #89aec8;
}

.AppleTvTag {
    position: absolute;
    font-size: 45px;
    left: 1170px;
    top: 890px;
    color: #4e452a;

}

.AppleTvTag:hover {
    color: #89aec8;
}

.Plot {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}


.plotinfo p {
    position: absolute;
    font-weight: 300;
    display: block;
    font-size: 30px;
    color: #002c55;
    top: 240px;
    width: 1000px;
    text-align: right;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: column;

}


.plotline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 800px;
    left: -28px;

}

.Keyinfo {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 45px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
}

.keydets p {

    position: absolute;
    font-weight: 300;
    display: block;
    font-size: 30px;
    color: #002c55;
    top: 380px;
    left: 280px;
    width: 1000px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
    flex-direction: column;

}

.keyline {

    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1680px;
    left: -28px;

}

.Casting {
    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 900px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.castline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1280px;
    left: -28px;
}

.Creativeteam {

    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 4400px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.ctinfo p {
    font-weight: 300;
    font-size: 30px;
    color: #002c55;
    position: absolute;
    width: 880px;
    top: 280px;
    left: 350px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
    padding: 20px;
}

.ctline {
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 780px;
    left: -28px;
}

.reviews {

    position: absolute;
    font-weight: 700;
    display: block;
    font-size: 100px;
    color: #002c55;
    top: 5110px;
    left: 65px;
    text-align: left;
    justify-content: left;
    display: flex;
    align-items: left;
    padding: 20px;
}

.reviewsdets {
    font-weight: 300;
    font-size: 30px;
    color: #002c55;
    position: absolute;
    width: 880px;
    top: 280px;
    left: 350px;
    text-align: right;
    justify-content: right;
    display: flex;
    align-items: right;
    padding: 20px;
}

.reviewsline{
    position: absolute;
    width: 1380px;
    height: 2px;
    background-color: #6d7500;
    top: 1740px;
    left: -28px;
}